/**
 * Created by JDR
 * For more information www.facebook.com/DEANIELL6195
 * Unique creator
 */


.btn{
    
    background: #E5562E;
    
    
}
.btn:hover{
    
    background: #F55E2E;
    
}

      
       #tablas_filter{
           
           display: none;
           
       }
       #tablas2_filter{
           
           display: none;
           
       }
        #tablasMarcas_filter{
           
           display: none;
           
       }
       #tablasMarcas #seleccionaBusqueda
      {
        height: 30px;
        width: 30px;
        margin-left: 20px;
      }
      #tablasMarcas #EditaBusqueda
      {
        height: 30px;
        width: 30px;
        margin-right: 20px; 
      }

      #tablasMarcas tr
      {
        cursor: pointer;
      }
      #tablasArancel tr
      {
        cursor: pointer;
      }
       #tablasArancel_filter{
           
           display: none;
           
       }

       
       
       #tablas  img{
           
        width: 50px;
        height: 50px;
          
        
           
       }
  .interno{
      position: absolute!important;
  } 
  .row1Detalle{
      height: 100px!important;
  } 
  .DivInterno{
    display: '';
    position: absolute;
    z-index: 3;
    left: 2%;
    width: 100%;
  }
  .DivInternoOculto{
    display: none;
    position: absolute;
    z-index: -3;
    left: 2%;
  }  
  .rowInterno{
      margin-top: 2%;
      margin-left: 2%;

  }
        thead{
           
        color: white;
           background: #3691e3;
           color: aliceblue;
           cursor: pointer;
       }
       #productos form #tablas tbody tr td
       {
          text-align: left;
       }
       #tablas tbody tr:hover
       {
          background: #E4E4E4;
          cursor: pointer;
          color: #000;
       }
       




/*
 table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>td {
    display: block;
}


table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
}

 table.table-fixedheader>tbody {
    overflow-y: auto;
    height: 100px;
    
}

 table.table-fixedheader>thead {
    overflow-y: auto;    
}

 table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
}


table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after {
   
    display: table-cell;
    visibility: hidden;
    clear: both;
}



 table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td {
    float: left;    
    word-wrap:break-word;     
}
*/